body {
    font-family: Roboto, Times, serif;
    font-size: 16px;
    text-align: center;
}
#img-div {
    resize: horizontal;
    background-color: #EBEBEB;
    margin-top: -10px;
    margin-left: 0px;
    margin-right: 0px;
}
#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding-top: 5px;
}
#img-caption {
    font-style: italic;
    font-size: 14px;
    padding-top: 5px;
    background-color: #EBEBEB;
    margin-left: 0px;
    margin-right: 0px;
}
#title {
    margin-top: 20px;
}
#tribute-info {
    margin-left: 100px;
    margin-right: 100px;
    font-align: justify;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    opacity: 1;
    background-color: rgba(235,235,235,.6);
    padding-top: 14px;
    padding-bottom: 14px;
    margin-left: 0px;
    padding-right: 0px;
}
#poweredby {
    margin-left: 20px;
}
.quote {
    font-style: italic;
    font-size: 16px;
}
.fa-html5 {
    font-size: 24px;
    color: #ff0000;
}
.fa-css3-alt {
    font-size: 24px;
    color: #00b3ff;
}
